body {

}
h1 {
  text-align: center;
}
.container {
  display: grid;
  width: 100vw;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3,auto);
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  line-height: 100px;
  font-size: 60px;
}

button {
  text-align: center;
  justify-content: center;
}
section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.TL, .TM, .TR {
border-top: none;
}
.TL, .ML, .BL {
border-left: none;
}
.TR, .MR, .BR {
  border-right: none;
}
.BL, .BM, .BR {
  border-bottom: none;
}

